$base-color: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
$font-size: 16px;
$font-color:rgba(255, 255, 255, 0.87);
$font-family: Inter, Avenir, Helvetica, Arial, sans-serif;